*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgba(63, 101, 134, 0.651);
    justify-content: center;
    align-items: center;
}

.form{
    min-width: 450px;
    padding: 25px 30px;
    border: 2px solid rgb(131, 185, 99);


}

.form .input_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
}
.form .input_container label{
    color: rgba(41, 97, 4, 0.993);
    font-size: 17px;
    text-transform: uppercase;
}

.form .input_container input{
    padding: 9px 8px;
    border: none;

}

.form .input_container input:focus{
    outline: none;
}


button{
    padding: 10px 18px;
    background-color: skyblue;
    border: none;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover{
    box-shadow: 4px 4px 3px 2px rgb(204, 80, 80);
}